@charset "UTF-8";
@font-face {
  font-family: Pacifico-Regular;
  src: url(../font/Pacifico-Regular-all.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  top: -60px;
  width: 100%;
  position: fixed;
  transition: all 0.4s;
  z-index: 999;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
}
.header .navbar .links {
  display: flex;
  gap: 3.6rem;
}
.header .navbar .links a {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  font-size: 22px;
}
.header .navbar .links a:hover {
  color: gray;
}

.main {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.main .home {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
.main .home video {
  height: 100vh;
  width: 100%;
  position: absolute;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.main .home .all {
  width: 100%;
  height: 100%;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pacifico-Regular;
}
.main .home .all .left {
  width: 50%;
  margin-right: 10px;
  transform: translateY(-30px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .home .all .left .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: fade 0.5s;
  max-width: 460px;
}
.main .home .all .left .logo img {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin-right: 15px;
}
.main .home .all .left .logo .name {
  width: 100%;
  text-align: center;
  transform: translateY(-8px);
  font-family: Pacifico-Regular;
  color: #fff;
}
.main .home .all .left .description {
  padding: 1rem;
  margin-top: 3.5rem;
  max-width: 460px;
  animation: fade 0.5s;
}
.main .home .all .left .cards {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2509803922);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transform: scale(1);
  transition: transform 0.3s, -webkit-backdrop-filter 0.3s;
  transition: backdrop-filter 0.3s, transform 0.3s;
  transition: backdrop-filter 0.3s, transform 0.3s, -webkit-backdrop-filter 0.3s;
}
.main .home .all .left .cards p {
  margin: 0.75rem 1rem;
  line-height: 2rem;
  font-size: 15px;
  color: #fff;
}
.main .home .all .right {
  width: 50%;
  margin-left: 0.75rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.main .home .all .right .videoPlayer {
  margin-left: 15px;
  width: 500px;
  height: 165px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2509803922);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.main .home .all .right .videoPlayer .player {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
}
.main .home .all .right .videoPlayer .player .i-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transform: scale(1);
}
.main .home .all .right .videoPlayer .setline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.main .home .all .right .videoPlayer .setline img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.main .home .all .right .videoPlayer .setline input[type=range] {
  width: 260px;
}
.main .home .all .right .videoPlayer .setline input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 10px;
  height: 15px;
}
.main .home .all .right .videoPlayer .setline input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.3098039216);
  cursor: pointer;
}
.main .home .all .right .line {
  color: #fff;
  margin-left: 8px;
  font-size: 1.15rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3137254902);
}
.main .home .all .right .list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  left: -10px;
  width: 588px;
  height: 225px;
  padding: 5px 10px 0;
}
.main .home .all .right .list .el-col {
  height: 100px;
  width: 182px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0 10px;
  animation: fade 0.5s;
  background-color: rgba(0, 0, 0, 0.2509803922);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  font-size: 25px;
  transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main .home .all .right .list .el-col:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.main .home .all .right .list .el-col img {
  height: 35px;
}
.main .services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url(../images/Noa&Yuki.jpg);
  background-size: cover;
  background-position: center;
}
.main .services .topText {
  display: flex;
  flex-direction: column;
  transform: translateY(-250px);
  position: absolute;
}
.main .services .topText .time {
  font-size: 65px;
  color: #fff;
  text-align: center;
}
.main .services .topText .Date {
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.main .services .topText .weather {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.main .services .inputWrpper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 60px);
  max-width: 680px;
  height: 42px;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1215686275);
  transform: translateY(-120px);
}
.main .services .inputWrpper .toggle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  left: 14px;
  position: absolute;
}
.main .services .inputWrpper .toggle img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.main .services .inputWrpper .input {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.main .services .inputWrpper .input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 18px;
  color: #fff;
}
.main .services .inputWrpper .input::placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 18px;
  color: #fff;
}
.main .services ion-icon {
  position: absolute;
  right: 20px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.main .services .dropdown_menu {
  top: -10px;
  display: flex;
  flex-direction: row;
  height: 0px;
  width: calc(100% - 60px);
  max-width: 680px;
  background: rgba(0, 0, 0, 0.346666);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  --webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main .services .dropdown_menu .all-engine {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  gap: 10px;
}
.main .services .dropdown_menu .all-engine .engine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3766666);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.main .services .dropdown_menu .all-engine .engine:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.main .services .dropdown_menu .all-engine .engine span {
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin: auto;
}
.main .services .dropdown_menu .all-engine .engine img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
.main .services .dropdown_menu.open {
  height: 210px;
  margin-top: 30px; /* 保持一定距离 */
  transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), margin-top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main .album {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-image: url(../images/AL1S&Kei.jpg);
  background-size: cover;
  background-position: center;
}
.main .about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/ARONAl.jpeg);
  background-size: cover;
  background-position: center;
}
.main .about .heading h1 {
  color: rgb(92, 136, 177);
  font-size: 5em;
  text-align: center;
  line-height: 200px;
}
.main .about .ab {
  width: 800px;
  height: 300px;
  box-shadow: 0 0 15px rgb(83, 103, 110);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  --webkit-backdrop-filter:blur(14px);
  background: rgba(86, 219, 251, 0.4);
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  margin-top: 40px;
}
.main .about .ab p {
  word-wrap: break-word;
  color: rgb(92, 136, 177);
  line-height: 24px;
}
.main .about .ab .txt {
  width: 400px;
  margin: 0 50px 0 50px;
}
.main .about .ab h2 {
  text-align: center;
  color: rgb(92, 136, 177);
}
.main .about .ab .img {
  width: 300px;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: grayscale(0.3);
  opacity: 0.8;
  transition: all 0.5s ease 0s;
}
.main .about .ab .img:hover {
  transform: scale(1.1);
}
.main .about .ab .imghid {
  overflow: hidden;
}
.main .about .a1 {
  margin-left: 40%;
  animation: a1load 1.5s linear;
  transition: 0.5s 1s;
}
.main .about .a1 .img {
  background-image: url("../images/癫火之王.jpg");
}
.main .about .a2 {
  margin-left: 10%;
  animation: a2load 3.6s linear;
  transition: 0.5s;
}
.main .about .a2 .img {
  background-image: url("../images/白子.gif");
}
.main .contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/shiroko.jpeg);
  background-size: cover;
  background-position: center;
}
.main .contact .heading h1 {
  color: rgb(92, 136, 177);
  font-size: 5em;
  text-align: center;
  line-height: 200px;
}
.main .contact .joinpart {
  width: 1200px;
  height: 650px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-image: url("../images/砂糖白子.JPG");
  background-repeat: no-repeat;
  background-size: 1300px;
  overflow: hidden;
  opacity: 0.9;
  border-radius: 50px;
  animation: loadbac 1s linear;
  transition: 1s ease 0.2s;
}
.main .contact .joinpart .right {
  width: 80%;
  height: 100%;
}
.main .contact .joinpart .right .goal {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.main .contact .joinpart .right .goal h1 {
  font-size: 40px;
  font-weight: bolder;
  line-height: 75px;
  color: rgb(86, 219, 251);
}
.main .contact .joinpart .right .goal p {
  color: #fff;
  word-wrap: break-word;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
}
.main .contact .joinpart .right .goal .meth {
  width: 500px;
  height: 100px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.main .contact .joinpart .right .goal .meth .icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s ease 0s;
}
.main .contact .joinpart .right .goal .meth .icon ul {
  display: none;
  list-style: none;
  margin-top: 30px;
  width: 150px;
  margin-left: -40px;
  color: white;
  font-size: 14px;
  font-weight: 800;
}
.main .contact .joinpart .right .goal .meth .icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.main .contact .joinpart .right .goal .meth .icon:hover ul {
  display: block;
  position: absolute;
}
.main .contact .joinpart .right .goal .meth .qq {
  background-image: url("../images/icons/qq.PNG");
  background-size: 25px;
}
.main .contact .joinpart .right .goal .meth .vx {
  background-image: url("../images/icons/WeChat.png");
}
.main .contact .joinpart .right .goal .meth .bili {
  background-image: url("../images/icons/bilibili.PNG");
  background-color: rgb(245, 128, 147);
}
.main .contact .joinpart .right .goal .meth .gh {
  background-image: url("../images/icons/github.PNG");
  background-size: 40px;
}
.main .footer {
  display: flex;
  margin-top: 97vh;
  width: 100%;
  height: 35px;
  clear: both;
  text-align: center;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #fff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3098039216);
  font-family: Pacifico-Regular;
  font-size: 12px;
}

/*loader*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
}
#loader-wrapper .loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#loader-wrapper .loader .loader-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: spin 1.8s linear infinite;
  z-index: 2;
}
#loader-wrapper .loader .loader-circle:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #a4a4a4;
  animation: spin-reverse 0.6s linear infinite;
}
#loader-wrapper .loader .loader-circle:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #d3d3d3;
  animation: spin 1s linear infinite;
}
#loader-wrapper .loader .loader-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  z-index: 2;
  margin-top: 40px;
  font-size: 24px;
}
#loader-wrapper .loader .loader-text .tip {
  margin-top: 6px;
  font-size: 18px;
  opacity: 0.6;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #333;
  z-index: 1;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
#loader-wrapper.loaded {
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.3s 1s ease-out, visibility 0.3s 1s ease-out;
}
#loader-wrapper.loaded .loader .loader-circle {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
#loader-wrapper.loaded .loader-section.section-left {
  transform: translateX(-100%);
  transition: transform 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#loader-wrapper.loaded .loader-section.section-right {
  transform: translateX(100%);
  transition: transform 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}/*# sourceMappingURL=style.css.map */