@font-face {
  font-family: Pacifico-Regular;
  src: url(@/../public/font/Pacifico-Regular-all.ttf) format("truetype");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

li{
  list-style: none;
}

a{
  color: #fff;
  text-decoration: none;
}


.slide-down-enter-active, .slide-up-enter-active,
.slide-down-leave-active, .slide-up-leave-active {
  transition: transform 0.5s;
}

.slide-down-enter, .slide-up-leave-to {
  transform: translateY(-100%);
}

.slide-up-enter, .slide-down-leave-to {
  transform: translateY(100%);
}

